


<div class="col-md-4" *ngFor="let item of jobs">
  <div class="card mb-4 shadow-sm">
    <!--<svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>-->
    <div class="card-body">
      <h2>{{item.title}}</h2>
      <small class="card-text">{{item.company.name}}</small>
      <p class="card-text">{{item.applications[0].status}}</p>
      <p class="card-text">{{getStringFromEnum(item.employmentType)}}</p>
      <p class="card-text">{{getNameFromJson(item.location).country  }} / {{ getNameFromJson(item.location).name  }}</p>
      <p class="card-text"> Number of Vacancies: {{item.numberOfVacancies }}</p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <button type="button" [routerLink]="['/apply/',item.id]" class="btn btn-sm btn-outline-secondary">Apply</button>
          <button type="button" class="btn btn-sm btn-outline-secondary">Save</button>
        </div>
        <small class="text-muted">{{getPrintedDate(item.createdDate)}}</small>
      </div>
    </div>
  </div>
</div>




<p-card [style]="{'width': '24.4375rem','height':'8.25rem', 'margin-bottom': '2em'}" *ngFor="let item of jobs">
  <p>
    {{item.company.name}}
  </p>
  <strong>{{item.title}}</strong><br />
  <small>{{ getNameFromJson(item.location).name  }}</small>
</p-card>

<p-card *ngFor="let item of jobs" header="{{item.title}}" subheader=" {{item.company.name}}" [style]="{width: '360px'}" styleClass="p-card-shadow">
  <ng-template pTemplate="header">
    <img alt="Card" src="../../../../../assets/Images/usercard.png" />
  </ng-template>
  <p>
    <i class="pi pi-map-marker" style="color:skyblue"></i><!--{{getNameFromJson(item.location).country  }} |--> {{ getNameFromJson(item.location).name  }}&nbsp;
    <i class="pi pi-check" style="color:darkseagreen"></i> {{item.applications[0].status}} &nbsp;
    <i class="pi pi-flag" style="color: #0D89EC;font-size: 0.9rem"></i> {{getStringFromEnum(item.employmentType)}}&nbsp;
  </p>
  <p>
    <i class="bi bi-hash"></i><!--{{getNameFromJson(item.location).country  }} |--> {{ getNameFromJson(item.location).name  }}&nbsp;
    <i class="pi pi-check" style="color:darkseagreen"></i> {{item.applications[0].status}} &nbsp;
    <i class="pi pi-flag" style="color: #0D89EC;font-size: 0.9rem"></i> {{getStringFromEnum(item.employmentType)}}&nbsp;
  </p>
  <ng-template pTemplate="footer">
    <p-button label="Apply" icon="pi pi-check" [routerLink]="['/apply/',item.id]"></p-button>
    <p-button label="Save" icon="pi pi-bookmark" styleClass="p-button-secondary" [style]="{'margin-left': '.5em'}"></p-button>
  </ng-template>
</p-card>
<i class="pi pi-lock-open"></i>
<i _ngcontent-ogm-c50="" class="pi pi-chart-line"></i>
<i _ngcontent-ogm-c50="" class="pi pi-flag"></i>
<i _ngcontent-ogm-c50="" class="pi pi-home"></i>
<i _ngcontent-ogm-c50="" class="pi pi-lock"></i>
<i _ngcontent-ogm-c50="" class="pi pi-map-marker"></i>
<i class="pi pi-check" style="font-size: 2rem"></i>
<i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i>
