<!--<div class="input-group rounded">
  <input type="search" class="form-control rounded" placeholder="Search with job title" aria-label="Search"
         aria-describedby="search-addon" name="title" [(ngModel)]="title" />
  <input type="search" class="form-control rounded" placeholder="Search with location" aria-label="Search"
         aria-describedby="search-addon" name="loc" [(ngModel)]="loc" />
  <button class="input-group-text border-0" id="search-addon">
    <i class="pi pi-search" (click)="searchAJob()"></i>
  </button>
  ///
</div>-->


<!--Search menu-->
<div class="container">
  <div class="row">
    <div class="col-lg-12 card-margin">
      <div class="card search-form">
        <div class="card-body p-0">
          <form id="search-form">
            <div class="row">
              <div class="col-12">
                <div class="row no-gutters">
                  <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                    <input type="text" placeholder="Location..." class="form-control" id="search" name="loc"
                            [(ngModel)]="loc">         
                  </div>
                  <div class="col-lg-8 col-md-6 col-sm-12 p-0">
                    <input type="text" placeholder="Search job title or company..." class="form-control" id="search2" name="jobTitle"
                           [(ngModel)]="jobTitle">
                  </div>
                  <div class="col-lg-1 col-md-3 col-sm-12 p-0">
                    <button type="submit" class="btn btn-base" (click)="searchAJob()" [disabled]="!jobTitle && !loc">
                      <i class="pi pi-search"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  </div>


 <!--Card view--> 

  <div class="container">
    <div class="row">
      <div class="col-xs-6 mx-2 my-3" *ngFor="let item of jobs">
        <p-card header="{{item.title}} " subheader=" {{item.companyName}}" [style]="{width: '330px'}" styleClass="p-card-shadow">
          <ng-template pTemplate="header">
            <img alt="Card" src="../../../../../assets/Images/usercard.png" />
          </ng-template>
          <p>
            <i class="pi pi-map-marker" style="color:skyblue"></i> {{item.jobCountryName}} , {{ item.jobCityName}}&nbsp;
            <i class="pi pi-check" style="color:darkseagreen"></i> {{returnOpenJobsOnly(item.isOpen)}} &nbsp;
            <i class="pi pi-flag" style="color: #0D89EC;font-size: 0.9rem"></i> {{item.jobTypeName}}&nbsp;
          </p>
          <p><i class="pi pi-calendar"></i> {{getPrintedDate(item.createdDate)}}&nbsp;</p>
          <p>
            <svg xmlns="http://www.w3.org/2000/svg" style="color: #0D89EC" width="19" height="19" fill="currentColor" class="bi bi-hash" viewBox="0 0 16 16">
              <path d="M8.39 12.648a1.32 1.32 0 0 0-.015.18c0 .305.21.508.5.508.266 0 .492-.172.555-.477l.554-2.703h1.204c.421 0 .617-.234.617-.547 0-.312-.188-.53-.617-.53h-.985l.516-2.524h1.265c.43 0 .618-.227.618-.547 0-.313-.188-.524-.618-.524h-1.046l.476-2.304a1.06 1.06 0 0 0 .016-.164.51.51 0 0 0-.516-.516.54.54 0 0 0-.539.43l-.523 2.554H7.617l.477-2.304c.008-.04.015-.118.015-.164a.512.512 0 0 0-.523-.516.539.539 0 0 0-.531.43L6.53 5.484H5.414c-.43 0-.617.22-.617.532 0 .312.187.539.617.539h.906l-.515 2.523H4.609c-.421 0-.609.219-.609.531 0 .313.188.547.61.547h.976l-.516 2.492c-.008.04-.015.125-.015.18 0 .305.21.508.5.508.265 0 .492-.172.554-.477l.555-2.703h2.242l-.515 2.492zm-1-6.109h2.266l-.515 2.563H6.859l.532-2.563z" />
            </svg>Vacancies : {{item.numberOfVacancies }}&nbsp;
          </p>

          <ng-template pTemplate="footer">
            <p-button label="Apply" icon="pi pi-check" [routerLink]="['/employee/apply/',item.id]"></p-button>
            <p-button label="Save" icon="pi pi-bookmark" styleClass="p-button-secondary" [style]="{'margin-left': '.5em'}"></p-button>
          </ng-template>
        </p-card>

      </div>
    </div>
  </div>




  <!--<p-card [style]="{'width': '24.4375rem','height':'8.25rem', 'margin-bottom': '2em'}" *ngFor="let item of jobs">
    <p>
      {{item.company.name}}
    </p>
    <strong>{{item.title}}</strong><br />
    <small>{{ getNameFromJson(item.location).name  }}</small>
  </p-card>-->
  <!--<i class="pi pi-lock-open"></i>
  <i _ngcontent-ogm-c50="" class="pi pi-chart-line"></i>
  <i _ngcontent-ogm-c50="" class="pi pi-flag"></i>
  <i _ngcontent-ogm-c50="" class="pi pi-home"></i>
  <i _ngcontent-ogm-c50="" class="pi pi-lock"></i>
    <!--<i _ngcontent-ogm-c50="" class="pi pi-calendar"></i>
  <i _ngcontent-ogm-c50="" class="pi pi-map-marker"></i>
  <i class="pi pi-check" style="font-size: 2rem"></i>
  <i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i>-->
