<div id="auth">

  <div class="row h-100">
    <div class="col-lg-5 col-12">
      <div id="auth-left">
        <h1 class="auth-title">Forgot Password</h1>
        <p class="auth-subtitle mb-5">Input your email and we will send you reset password link.</p>

        <div *ngIf="showError" class="alert alert-danger" role="alert">
          {{errorMessage}}
        </div>

        <div *ngIf="showSuccess" class="alert alert-success" role="alert">
          {{successMessage}}
        </div>

        <form [formGroup]="forgotPasswordForm" autocomplete="off" novalidate (ngSubmit)="forgotPassword(forgotPasswordForm.value)" *ngIf="!showSuccess">
          <div class="col">
            <em *ngIf="validateControl('email') && hasError('email', 'required')">Email is required</em>
            <em *ngIf="validateControl('email') && hasError('email', 'email')">Email is not Valid</em>
          </div>
          <div class="form-group position-relative has-icon-left mb-4">
            <!--<input type="email" class="form-control form-control-xl" placeholder="Email">-->
            <input type="text" id="email" formControlName="email" class="form-control form-control-xl" placeholder="Email" />
            <div class="form-control-icon">
              <i class="bi bi-envelope"></i>
            </div>
          </div>
          <!--<button class="btn btn-primary btn-block btn-lg shadow-lg mt-5">Send</button>-->
          <button type="submit" class="btn btn-primary btn-block btn-lg shadow-lg mt-5" [disabled]="!forgotPasswordForm.valid">Send</button>
        </form>
        <div class="text-center mt-5 text-lg fs-4">
          <p class='text-gray-600'>
            Remember your account? <a [routerLink]="['/authentication/login']" class="font-bold">
              Log
              in
            </a>.
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-7 d-none d-lg-block">
      <div id="auth-right">

      </div>
    </div>
  </div>
</div>
<!--<div class="card">
  <div class="card-body">
    <h1 class="card-title">Forgot Password</h1>

    <div *ngIf="showError" class="alert alert-danger" role="alert">
      {{errorMessage}}
    </div>

    <div *ngIf="showSuccess" class="alert alert-success" role="alert">
      {{successMessage}}
    </div>

    <form [formGroup]="forgotPasswordForm" autocomplete="off" novalidate (ngSubmit)="forgotPassword(forgotPasswordForm.value)">
      <div class="form-group row">
        <label for="email" class="col-form-label col-sm-2">Email:</label>
        <div class="col-md-5">
          <input type="text" id="email" formControlName="email" class="form-control" />
        </div>
        <div class="col-md-5">
          <em *ngIf="validateControl('email') && hasError('email', 'required')">Email is required</em>
        </div>
      </div>
      <br>
      <div class="form-group row">
        <div class="col-md-1">
          <button type="submit" class="btn btn-info" [disabled]="!forgotPasswordForm.valid">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>-->
