<div class="container mt-5">
  <div class="row">
    <div class="col-12 col-md-4 col-lg-3">
      <div class="card">
        <div class="card-body">
          <div class="d-flex">
            <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-pills" orientation="vertical">
              <li ngbNavItem="General Info">
                <a ngbNavLink>General Info</a>
                <ng-template ngbNavContent>
                  <div class="row mb-4">
                    <div class="col-6 col-sm-3 col-lg-2">
                      <div class="avatar avatar-xl me-3 shadow">
                        <img src="../../../../../assets/Images/illustrations/jobs.png" alt="" srcset="">
                      </div>
                    </div>
                    <div class="col-12 col-sm-9 col-lg-10 mt-3 mt-sm-2">
                      <h3>Profile Photo</h3>
                      <p>You can upload a .jpg, .png, or .gif photo with max size of 5MB.</p>
                      <button class="btn btn-primary">upload</button>
                    </div>
                  </div>
                  <hr />
                  <div class="row mb-3">
                    <div class="col">
                      <h3>Your Personal Info</h3>

                      <form>
                        <div class="row">
                          <div class="col-12 col-md-6">
                            <div class="form-group position-relative has-icon-left mb-4">
                              <input type="text" id="firstName" class="form-control form-control-xl" placeholder="First Name" />
                              <div class="form-control-icon">
                                <i class="bi bi-person"></i>
                              </div>
                            </div>
                          </div>
                          <div class="col-12 col-md-6">
                            <div class="form-group position-relative has-icon-left mb-4">
                              <input type="text" id="lastName" class="form-control form-control-xl" placeholder="Last Name" />
                              <div class="form-control-icon">
                                <i class="bi bi-person"></i>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-7 col-lg-6">
                            <div class="form-group">
                              <span>Birth Date</span>
                              <div class="input-group">
                                <input class="form-control" placeholder="yyyy-mm-dd" [startDate]="{year: 1990}" [endDate]="{year: 2029}"
                                       name="dp" [(ngModel)]="dateOfBirth" ngbDatepicker #d="ngbDatepicker">
                                <div class="input-group-append">
                                  <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button"><i class="bi bi-calendar3"></i></button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="form-group">
                          <span class="d-block">Gender</span>
                          <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic">
                            <label ngbButtonLabel class="btn-light">
                              <input ngbButton type="radio" [value]="1"> Male
                            </label>
                            <label ngbButtonLabel class="btn-light">
                              <input ngbButton type="radio" value="2"> Female
                            </label>
                          </div>
                        </div>

                        <div class="form-group">
                          <label>Nationality</label>
                          <select class="form-select">
                            <option *ngFor="let i of countries" [value]="i.id">{{i.name}}</option>
                          </select>
                        </div>

                        <div class="form-group">
                          <label>Military Status</label>
                          <select class="form-select">
                            <option *ngFor="let name of ['NotApplicable','Exempted','Completed','Postponed']; let i = index" [value]="i">{{name}}</option>
                          </select>
                        </div>

                        <h3 class="mt-4">Your Location</h3>
                        <div class="form-group">
                          <label>Country</label>
                          <select class="form-select">
                            <option *ngFor="let i of countries" [value]="i.id">{{i.name}}</option>
                          </select>
                        </div>

                        <div class="form-group">
                          <label>City</label>
                          <select class="form-select">
                            <option *ngFor="let i of cities" [value]="i.id">{{i.name}}</option>
                          </select>
                        </div>

                        <label>Would you be willing to relocate to another city or country if you find the right opportunity?</label>
                        <div class="form-check form-switch">
                          <input class="form-check-input mt-1" type="checkbox" name="isWillingToRelocate" [(ngModel)]="isWillingToRelocate">
                          <span class="fs-5">{{isWillingToRelocate ? 'Yes' : 'No'}}</span>
                        </div>

                        <h3 class="mt-4">Your Contact Info</h3>
                        <div class="row">
                          <div class="col-12 col-md-6">
                            <div class="form-group position-relative has-icon-left mb-4">
                              <input type="tel" class="form-control form-control-xl" placeholder="Mobile Number" />
                              <div class="form-control-icon">
                                <i class="bi bi-phone"></i>
                              </div>
                            </div>
                          </div>
                          <div class="col-12 col-md-6">
                            <div class="form-group position-relative has-icon-left mb-4">
                              <input type="tel" class="form-control form-control-xl" placeholder="Alternative Mobile Number" />
                              <div class="form-control-icon">
                                <i class="bi bi-phone"></i>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col"></div>
                          <div class="col"></div>
                        </div>

                        <button class="btn btn-primary">Save Changes</button>
                      </form>
                    </div>
                  </div>
                </ng-template>
              </li>
              <li ngbNavItem="Career Interests">
                <a ngbNavLink>Career Interests</a>
                <ng-template ngbNavContent>

                  <form>
                    <h4>What is your current career level?</h4>
                    <div class="form-group position-relative">
                      <select class="form-select">
                        <option *ngFor="let i of careerLevels" [value]="i.id">
                          {{i.name}}
                        </option>
                      </select>
                    </div>

                    <h4>What type(s) of job are you open to?</h4>
                    <div class="form-group position-relative">
                      <p-multiSelect defaultLabel="Select your preferd job types" [options]="jobTypes" optionLabel="name" optionValue="id" [filter]="false" [showHeader]="false" selectedItemsLabel="{0} items selected"></p-multiSelect>
                    </div>

                    <h4>What are the job titles that describe what you are looking for?</h4>
                    <div class="form-group">
                      <p-multiSelect defaultLabel="Select your preferd job titles" [options]="jobCategories" optionLabel="name" optionValue="id" selectedItemsLabel="{0} items selected"></p-multiSelect>
                    </div>

                    <div class="row">
                      <h4>What is the minimum salary you would accept?</h4>
                      <small>Add a net salary (i.e., final amount you want after taxes and insurance)</small>
                      <div class="col-4">
                        <div class="form-group position-relative has-icon-left">
                          <input type="number" class="form-control" placeholder="10,000">
                          <div class="form-control-icon">
                            <i class="bi bi-currency-dollar"></i>
                          </div>
                        </div>
                      </div>
                      <div class="col mt-2">dollar / month</div>
                    </div>

                    <button class="btn btn-primary">Save changes</button>
                  </form>

                </ng-template>
              </li>
              <li ngbNavItem="Education and Experience">
                <a ngbNavLink>Education and Experience</a>
                <ng-template ngbNavContent>
                  <form>
                    <h4>What's your current educational level?</h4>
                    <small>-If you are currently studying, select your expected degree.</small>
                    <div class="form-group">
                      <select class="form-select">
                        <option *ngFor="let i of educationLevels" [value]="i.id">
                          {{i.name}}
                        </option>
                      </select>
                    </div>

                    <div class="row">
                      <h4> How many years of experience do you have?</h4>
                      <div class="col-4">
                        <div class="form-group">
                          <input type="number" class="form-control" min="0">
                        </div>
                      </div>
                    </div>

                    <button class="btn btn-primary">Save changes</button>
                  </form>
                </ng-template>
              </li>
              <li ngbNavItem="Skills">
                <a ngbNavLink>Skills</a>
                <ng-template ngbNavContent>
                  <form>
                    <h4>What skills, tools, technologies and fields of expertise do you have?</h4>
                    <div class="form-group mb-4">
                      <span class="p-fluid">
                        <p-autoComplete [suggestions]="skillsList" field="name" (completeMethod)="searchSkills($event)"
                                        [multiple]="true"></p-autoComplete>
                      </span>
                    </div>

                    <h4>What languages do you know?</h4>
                    <div class="form-group mb-4">
                      <p-multiSelect defaultLabel="Select at least one" [options]="languages" optionLabel="name" optionValue="id" selectedItemsLabel="{0} items selected"></p-multiSelect>
                    </div>

                    <button class="btn btn-primary">Save changes</button>
                  </form>
                </ng-template>
              </li>

              <li ngbNavItem="Online Presence">
                <a ngbNavLink>Online Presence</a>
                <ng-template ngbNavContent>
                  <form>
                    <h4>Your Online Presence</h4>
                    <div class="form-group position-relative has-icon-left mb-4">
                      <input type="text" class="form-control form-control-xl" placeholder="LinkedIn" />
                      <div class="form-control-icon">
                        <i class="bi bi-linkedin"></i>
                      </div>
                    </div>

                    <div class="form-group position-relative has-icon-left mb-4">
                      <input type="text" class="form-control form-control-xl" placeholder="Facebook" />
                      <div class="form-control-icon">
                        <i class="bi bi-facebook"></i>
                      </div>
                    </div>

                    <div class="form-group position-relative has-icon-left mb-4">
                      <input type="text" class="form-control form-control-xl" placeholder="Twitter" />
                      <div class="form-control-icon">
                        <i class="bi bi-twitter"></i>
                      </div>
                    </div>

                    <div class="form-group position-relative has-icon-left mb-4">
                      <input type="text" class="form-control form-control-xl" placeholder="GitHub" />
                      <div class="form-control-icon">
                        <i class="bi bi-github"></i>
                      </div>
                    </div>

                    <button class="btn btn-primary">Save changes</button>
                  </form>
                </ng-template>
              </li>

              <li ngbNavItem="Upload CV">
                <a ngbNavLink>Upload CV</a>
                <ng-template ngbNavContent>

                </ng-template>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-8 col-lg-9">
      <div class="card">
        <div class="card-body">
          <div [ngbNavOutlet]="nav"></div>
        </div>
      </div>
    </div>
  </div>
</div>
