.avatar.avatar-xl .avatar-content, .avatar.avatar-xl img {
  width: 100px;
  height: 100px;
  font-size: 1.4rem;
}

::placeholder { 
  color: #ccc;
}

input[required]{
  /* background-image: radial-gradient(#F00 15%, transparent 16%), radial-gradient(#F00 15%, transparent 16%); */
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='red' class='bi bi-asterisk' viewBox='0 0 16 16'>  <path d='M8 0a1 1 0 0 1 1 1v5.268l4.562-2.634a1 1 0 1 1 1 1.732L10 8l4.562 2.634a1 1 0 1 1-1 1.732L9 9.732V15a1 1 0 1 1-2 0V9.732l-4.562 2.634a1 1 0 1 1-1-1.732L6 8 1.438 5.366a1 1 0 0 1 1-1.732L7 6.268V1a1 1 0 0 1 1-1z'/></svg>");
  background-size: 0.7em 0.7em;
  background-position: right top;
  background-repeat: no-repeat;
}