



  <div class="form-group">
    <label for="Name">Emp First Name</label>
    <input type="text" class="form-control" id="firstName" [(ngModel)]="profile.userFirstName">
  </div>

  <div class="form-group">
    <label for="Name">Emp Last Name</label>
    <input type="text" class="form-control" id="lastName" [(ngModel)]="profile.userLastName">
  </div>

  <div class="form-group">
    <label for="Name">EducationLevelId</label>
    <input type="text" class="form-control" id="edu" [(ngModel)]="profile.educationLevelId">
  </div>


  <div class="form-group">
    <label for="Name">mobileNumber</label>
    <input type="text" class="form-control" id="Name" [(ngModel)]="profile.mobileNumber">
  </div>


  <div class="form-group">
    <label for="exampleFormControlTextarea1">summary</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" [(ngModel)]="profile.summary"></textarea>
  </div>

  <button [routerLink]="['/employee/profile/',profile.id]" (click)="update()" class="btn btn-default">Save</button>

