<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row justify-content-between">
            <div class="col-auto">
              <h3>Manage Jobs</h3>
            </div>
            <div class="col-auto text-end">
              <a class="btn btn-primary" [routerLink]="['/company/postjob']" >Add New Post</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-12 col-lg-4">
              <h4 class="card-title text-primary">Full stack developer</h4>
              <h5 class="card-text text-dark fw-bold">Alex,Egypt</h5>
              <p class="card-text badge bg-light-secondary mx-1">5 Vacancies</p>
              <p class="card-text badge bg-light-secondary mx-1">posted on 2021-06-1</p>
              <p class="card-text badge bg-light-secondary mx-1">11 job views | 5 total applications</p>
            </div>
            <div class="col-12 col-lg-8 text-center">
              <button type="button" class="btn btn-secondary btn-arrow-right">20 Inbox</button>
              <button type="button" class="btn btn-dark btn-arrow-right">5 In Consideration</button>
              <button type="button" class="btn btn-secondary btn-arrow-right">3 Phone Call</button>
              <button type="button" class="btn btn-dark btn-arrow-right">4 Interview</button>
              <button type="button" class="btn btn-secondary btn-arrow-right">1 Hired</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--<p-button label="Post new job" icon="pi pi-plus" [routerLink]="['/company/postjob']"></p-button> |
<button pButton pRipple type="button"  class="p-button-success" label="Profile" icon="pi pi-user"  [routerLink]="['/company/profile']"></button>
<app-display-company-jobs></app-display-company-jobs>-->
