<app-side-menu></app-side-menu>

<div id="main">
  <div class="page-heading">
    <section class="section">
      <div class="row">
        <div class="col-6">
          <div class="card">
            <div class="card-body px-3 py-4-5">
              <div class="row">
                <div class="col-md-4">
                  <div class="stats-icon purple">
                    <i class="bi bi-card-list"></i>
                  </div>
                </div>
                <div class="col-md-8">
                  <h6 class="text-muted font-semibold">Open Jobs</h6>
                  <h6 class="font-extrabold mb-0">{{insights?.openJobs}}</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="card">
            <div class="card-body px-3 py-4-5">
              <div class="row">
                <div class="col-md-4">
                  <div class="stats-icon red">
                    <i class="bi bi-building"></i>
                  </div>
                </div>
                <div class="col-md-8">
                  <h6 class="text-muted font-semibold">Companies</h6>
                  <h6 class="font-extrabold mb-0">{{insights?.companiesCount}}</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <!--<div class="card-header">
          <h4 class="card-title">Default Layout</h4>
        </div>-->
        <div class="card-body">
          <div class="row">
            <div class="col-12 col-md-6">
              <p-chart type="pie" [data]="jobsByType" height="60vh" [options]="jobsByTypeOptions"></p-chart>
            </div>
            <div class="col-12 col-md-6">
              <p-chart type="pie" [data]="jobsByCountry" height="60vh" [options]="jobsByCountryOptions"></p-chart>
            </div>
            <div class="col-12 col-md-6">
              <p-chart type="pie" [data]="jobsByCategory" height="60vh" [options]="jobsByCategoryOptions"></p-chart>
            </div>
            <div class="col-12">
              <p-chart type="line" [data]="totalJobsByDate" height="60vh" [options]="totalJobsByDateOptions"></p-chart>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
