<div class="container mt-5">
  <div class="row">
    <div class="col-8 mx-auto">
      <div class="card shadow mb-3">
        <div class="card-body">
          <form [formGroup]="postjobform" autocomplete="off" novalidate (ngSubmit)="postjob(postjobform)">
            <h3 class="card-title text-primary fs-3">Job Details</h3>

            <div class="form-group">
              <label for="title">Job title</label>
              <input type="text" class="form-control" placeholder="title" formControlName="title">
              <small class="form-text text-muted">please Enter descriptive job title.</small>
            </div>

            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="jobTypeId">Job type</label>
                  <select name="jobTypeId" class="form-select" formControlName="jobTypeId">
                    <option *ngFor="let i of jobTypes" [value]="i.id">
                      {{i.name}}
                    </option>
                  </select>
                  <small class="form-text text-muted">choose a job type</small>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="jobCategoryId">Job Category</label>
                  <select name="jobCategoryId" class="form-select" formControlName="jobCategoryId">
                    <option *ngFor="let i of jobCategories" [value]="i.id">
                      {{i.name}}
                    </option>
                  </select>
                  <small class="form-text text-muted">choose job category </small>
                </div>
              </div>
            </div>

            <hr />

            <h3 class="card-title text-primary fs-3">Location</h3>

            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="countryId">Country</label>
                  <select name="countryId" class="form-select" formControlName="countryId">
                    <option *ngFor="let i of countries" [value]="i.id">
                      {{i.name}}
                    </option>
                  </select>
                  <small class="form-text text-muted">choose the country for work </small>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="cityId">City</label>
                  <select name="cityId" class="form-select" formControlName="cityId">
                    <option *ngFor="let i of cities" [value]="i.id">
                      {{i.name}}
                    </option>
                  </select>
                  <small class="form-text text-muted">choose a the city </small>
                </div>
              </div>
            </div>

            <hr />

            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="careerLevelId">Career level</label>
                  <select name="careerLevelId" class="form-select" formControlName="careerLevelId">
                    <option *ngFor="let i of careerLevels" [value]="i.id">{{i.name}}</option>
                  </select>
                  <small class="form-text text-muted">choose the career level </small>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="educationLevelId">Education Level</label>
                  <select name="educationLevelId" class="form-select" formControlName="educationLevelId">
                    <option *ngFor="let i of educationLevels" [value]="i.id">
                      {{i.name}}
                    </option>
                  </select>
                  <small class="form-text text-muted">choose a the city </small>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="d-block">Years of experience</label>
              <p-inputNumber formControlName="experienceNeededMin" mode="decimal" [showButtons]="true" [min]="0" [max]="10">
              </p-inputNumber>
              <span class="mx-2">to</span>
              <p-inputNumber formControlName="experienceNeededMax" mode="decimal" [showButtons]="true" [min]="1" [max]="11">
              </p-inputNumber>
            </div>

            <div class="form-group">
              <label class="d-block">Salary</label>
              <div class="row justify-content-around">
                <div class="col-5"><input type="number" class="form-control" placeholder="Min" formControlName="salaryMin"></div>
                <div class="col-auto my-auto"><span>to</span></div>
                <div class="col-5">
                  <input type="number" class="form-control" placeholder="Max" formControlName="salaryMax">
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="d-block" for="numberOfVacancies">Number of Vacancies</label>
              <p-inputNumber formControlName="numberOfVacancies" [showButtons]="true" buttonLayout="horizontal" spinnerMode="horizontal" [step]="1" [min]="1"
                             incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus" mode="decimal">
              </p-inputNumber>
            </div>

            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="salaryCurrencyId">Currency</label>
                  <select name="salaryCurrencyId" class="form-select" formControlName="salaryCurrencyId">
                    <option *ngFor="let i of currencies" [value]="i.id">
                      {{i.name}}
                    </option>
                  </select>
                  <small class="form-text text-muted">choose a the currency </small>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="salaryRateId">Salary Rate</label>
                  <select name="salaryRateId" class="form-select" formControlName="salaryRateId">
                    <option *ngFor="let i of salaryRates" [value]="i.id">
                      {{i.name}}
                    </option>
                  </select>
                  <small class="form-text text-muted">choose the salary rate </small>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="requirements">Job Description</label>
              <p-editor formControlName="description" [style]="{'height':'320px'}">
                <ng-template pTemplate="header">
                  <span class="ql-formats">
                    <button type="button" class="ql-bold" aria-label="Bold"></button>
                    <button type="button" class="ql-italic" aria-label="Italic"></button>
                    <button type="button" class="ql-underline" aria-label="Underline"></button>
                    <span class="ql-formats">
                      <button value="ordered" aria-label="Ordered List" type="button"
                              class="ql-list">
                        <svg viewBox="0 0 18 18">
                          <line class="ql-stroke" x1="7" x2="15" y1="4" y2="4"></line>
                          <line class="ql-stroke" x1="7" x2="15" y1="9" y2="9"></line>
                          <line class="ql-stroke" x1="7" x2="15" y1="14" y2="14"></line>
                          <line class="ql-stroke ql-thin" x1="2.5" x2="4.5" y1="5.5" y2="5.5"></line>
                          <path class="ql-fill"
                                d="M3.5,6A0.5,0.5,0,0,1,3,5.5V3.085l-0.276.138A0.5,0.5,0,0,1,2.053,3c-0.124-.247-0.023-0.324.224-0.447l1-.5A0.5,0.5,0,0,1,4,2.5v3A0.5,0.5,0,0,1,3.5,6Z">
                          </path>
                          <path class="ql-stroke ql-thin"
                                d="M4.5,10.5h-2c0-.234,1.85-1.076,1.85-2.234A0.959,0.959,0,0,0,2.5,8.156"></path>
                          <path class="ql-stroke ql-thin"
                                d="M2.5,14.846a0.959,0.959,0,0,0,1.85-.109A0.7,0.7,0,0,0,3.75,14a0.688,0.688,0,0,0,.6-0.736,0.959,0.959,0,0,0-1.85-.109">
                          </path>
                        </svg>
                      </button><button value="bullet" aria-label="Unordered List" type="button" class="ql-list">
                        <svg viewBox="0 0 18 18">
                          <line class="ql-stroke" x1="6" x2="15" y1="4" y2="4"></line>
                          <line class="ql-stroke" x1="6" x2="15" y1="9" y2="9"></line>
                          <line class="ql-stroke" x1="6" x2="15" y1="14" y2="14"></line>
                          <line class="ql-stroke" x1="3" x2="3" y1="4" y2="4"></line>
                          <line class="ql-stroke" x1="3" x2="3" y1="9" y2="9"></line>
                          <line class="ql-stroke" x1="3" x2="3" y1="14" y2="14"></line>
                        </svg>
                      </button>
                    </span>
                  </span>
                </ng-template>
              </p-editor>
              <small class="form-text text-muted">please Enter the job requirements.</small>
            </div>

            <div class="form-group">
              <label for="requirements">Job Requirements </label>
              <p-editor formControlName="requirements" [style]="{'height':'320px'}">
                <ng-template pTemplate="header">
                  <span class="ql-formats">
                    <button type="button" class="ql-bold" aria-label="Bold"></button>
                    <button type="button" class="ql-italic" aria-label="Italic"></button>
                    <button type="button" class="ql-underline" aria-label="Underline"></button>
                    <span class="ql-formats">
                      <button value="ordered" aria-label="Ordered List" type="button"
                              class="ql-list">
                        <svg viewBox="0 0 18 18">
                          <line class="ql-stroke" x1="7" x2="15" y1="4" y2="4"></line>
                          <line class="ql-stroke" x1="7" x2="15" y1="9" y2="9"></line>
                          <line class="ql-stroke" x1="7" x2="15" y1="14" y2="14"></line>
                          <line class="ql-stroke ql-thin" x1="2.5" x2="4.5" y1="5.5" y2="5.5"></line>
                          <path class="ql-fill"
                                d="M3.5,6A0.5,0.5,0,0,1,3,5.5V3.085l-0.276.138A0.5,0.5,0,0,1,2.053,3c-0.124-.247-0.023-0.324.224-0.447l1-.5A0.5,0.5,0,0,1,4,2.5v3A0.5,0.5,0,0,1,3.5,6Z">
                          </path>
                          <path class="ql-stroke ql-thin"
                                d="M4.5,10.5h-2c0-.234,1.85-1.076,1.85-2.234A0.959,0.959,0,0,0,2.5,8.156"></path>
                          <path class="ql-stroke ql-thin"
                                d="M2.5,14.846a0.959,0.959,0,0,0,1.85-.109A0.7,0.7,0,0,0,3.75,14a0.688,0.688,0,0,0,.6-0.736,0.959,0.959,0,0,0-1.85-.109">
                          </path>
                        </svg>
                      </button><button value="bullet" aria-label="Unordered List" type="button" class="ql-list">
                        <svg viewBox="0 0 18 18">
                          <line class="ql-stroke" x1="6" x2="15" y1="4" y2="4"></line>
                          <line class="ql-stroke" x1="6" x2="15" y1="9" y2="9"></line>
                          <line class="ql-stroke" x1="6" x2="15" y1="14" y2="14"></line>
                          <line class="ql-stroke" x1="3" x2="3" y1="4" y2="4"></line>
                          <line class="ql-stroke" x1="3" x2="3" y1="9" y2="9"></line>
                          <line class="ql-stroke" x1="3" x2="3" y1="14" y2="14"></line>
                        </svg>
                      </button>
                    </span>
                  </span>
                </ng-template>
              </p-editor>
              <small class="form-text text-muted">please Enter the job requirements.</small>
            </div>

            <div class="form-group">
              <label for="requirements">Job responsibilities </label>
              <p-editor formControlName="responsibilities" [style]="{'height':'320px'}">
                <ng-template pTemplate="header">
                  <span class="ql-formats">
                    <button type="button" class="ql-bold" aria-label="Bold"></button>
                    <button type="button" class="ql-italic" aria-label="Italic"></button>
                    <button type="button" class="ql-underline" aria-label="Underline"></button>
                    <span class="ql-formats">
                      <button value="ordered" aria-label="Ordered List" type="button"
                              class="ql-list">
                        <svg viewBox="0 0 18 18">
                          <line class="ql-stroke" x1="7" x2="15" y1="4" y2="4"></line>
                          <line class="ql-stroke" x1="7" x2="15" y1="9" y2="9"></line>
                          <line class="ql-stroke" x1="7" x2="15" y1="14" y2="14"></line>
                          <line class="ql-stroke ql-thin" x1="2.5" x2="4.5" y1="5.5" y2="5.5"></line>
                          <path class="ql-fill"
                                d="M3.5,6A0.5,0.5,0,0,1,3,5.5V3.085l-0.276.138A0.5,0.5,0,0,1,2.053,3c-0.124-.247-0.023-0.324.224-0.447l1-.5A0.5,0.5,0,0,1,4,2.5v3A0.5,0.5,0,0,1,3.5,6Z">
                          </path>
                          <path class="ql-stroke ql-thin"
                                d="M4.5,10.5h-2c0-.234,1.85-1.076,1.85-2.234A0.959,0.959,0,0,0,2.5,8.156"></path>
                          <path class="ql-stroke ql-thin"
                                d="M2.5,14.846a0.959,0.959,0,0,0,1.85-.109A0.7,0.7,0,0,0,3.75,14a0.688,0.688,0,0,0,.6-0.736,0.959,0.959,0,0,0-1.85-.109">
                          </path>
                        </svg>
                      </button><button value="bullet" aria-label="Unordered List" type="button" class="ql-list">
                        <svg viewBox="0 0 18 18">
                          <line class="ql-stroke" x1="6" x2="15" y1="4" y2="4"></line>
                          <line class="ql-stroke" x1="6" x2="15" y1="9" y2="9"></line>
                          <line class="ql-stroke" x1="6" x2="15" y1="14" y2="14"></line>
                          <line class="ql-stroke" x1="3" x2="3" y1="4" y2="4"></line>
                          <line class="ql-stroke" x1="3" x2="3" y1="9" y2="9"></line>
                          <line class="ql-stroke" x1="3" x2="3" y1="14" y2="14"></line>
                        </svg>
                      </button>
                    </span>
                  </span>
                </ng-template>
              </p-editor>
              <small class="form-text text-muted">please Enter the job Responsabilities.</small>
            </div>

            <div class="form-group">
              <label for="skills">Job Skills </label>
              <br>
              <span class="p-fluid">
                <p-autoComplete formControlName="skills" id="skills" [suggestions]="results" field="name" (completeMethod)="search($event)"
                                [multiple]="true"></p-autoComplete>
              </span>
              <small class="form-text text-muted">please choose skills.</small>
            </div>

            <button type="submit" class="btn btn-primary" [disabled]="!postjobform.valid">Submit</button>
            <span class="ms-2 text-danger" *ngIf="!postjobform.valid">Fill the required fields</span>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
