<!--<div class="card">
  <div class="card-body">
    <h1 class="card-title">Reset Password</h1>

    <div *ngIf="showError" class="alert alert-danger" role="alert">
      <span [innerHTML]="errorMessage"></span>
    </div>

    <div *ngIf="showSuccess" class="alert alert-success" role="alert">
      Your password has been reset. Please <a [routerLink]="['/authentication/login']"> click here to log in. </a>
    </div>

    <form [formGroup]="resetPasswordForm" autocomplete="off" novalidate (ngSubmit)="resetPassword(resetPasswordForm.value)">
      <div class="form-group row">
        <label for="password" class="col-form-label col-sm-2">Password:</label>
        <div class="col-md-5">
          <input type="password" id="password" formControlName="password" class="form-control" />
        </div>
        <div class="col-md-5">
          <em *ngIf="validateControl('password') && hasError('password', 'required')">Password is required</em>
        </div>
      </div>
      <div class="form-group row">
        <label for="confirm" class="col-form-label col-sm-2">Confirm Password:</label>
        <div class="col-md-5">
          <input type="password" id="confirm" formControlName="confirm" class="form-control" />
        </div>
        <div class="col-md-5">
          <em *ngIf="validateControl('confirm') && hasError('confirm', 'required')">Confirmation is required</em>
          <em *ngIf="hasError('confirm', 'mustMatch')">Passwords must match</em>
        </div>
      </div>
      <br>
      <div class="form-group row">
        <div class="col-md-1">
          <button type="submit" class="btn btn-info" [disabled]="!resetPasswordForm.valid">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>-->

<div id="auth">

  <div class="row h-100">
    <div class="col-lg-5 col-12">
      <div id="auth-left">
        <h1 class="auth-title">Reset Password</h1>
        <p class="auth-subtitle mb-5">Input your new password.</p>

        <div *ngIf="showError" class="alert alert-danger" role="alert">
          <span [innerHTML]="errorMessage"></span>
        </div>

        <div *ngIf="showSuccess" class="alert alert-success" role="alert">
          Your password has been reset. Please <a [routerLink]="['/authentication/login']"> click here to log in. </a>
        </div>

        <form [formGroup]="resetPasswordForm" autocomplete="off" novalidate (ngSubmit)="resetPassword(resetPasswordForm.value)" *ngIf="!showSuccess">
          <div class="col">
            <em *ngIf="validateControl('password') && hasError('password', 'required')">Password is required</em>
          </div>
          <div class="form-group position-relative has-icon-left mb-4">
            <input type="password" id="password" formControlName="password" class="form-control form-control-xl" placeholder="Password" />
            <div class="form-control-icon">
              <i class="bi bi-shield-lock"></i>
            </div>
          </div>
          <div class="col">
            <em *ngIf="validateControl('confirm') && hasError('confirm', 'required')">Confirmation is required</em>
            <em *ngIf="hasError('confirm', 'mustMatch')">Passwords must match</em>
          </div>
          <div class="form-group position-relative has-icon-left mb-4">
            <input type="password" id="confirm" formControlName="confirm" class="form-control form-control-xl" placeholder="Confirm Password" />
            <div class="form-control-icon">
              <i class="bi bi-shield-lock"></i>
            </div>
          </div>
          <button type="submit" [disabled]="!resetPasswordForm.valid" class="btn btn-primary btn-block btn-lg shadow-lg mt-5">Reset</button>
        </form>
        <div class="text-center mt-5 text-lg fs-4">
          <p class='text-gray-600'>
            Remember your account? <a [routerLink]="['/authentication/login']" class="font-bold">
              Log
              in
            </a>.
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-7 d-none d-lg-block">
      <div id="auth-right">

      </div>
    </div>
  </div>

</div>
