
<h1>Edit Company profile</h1>
<div class="row">
  <div class="col-6 pb-4">
    <form [formGroup]="editProfileForm" autocomplete="off" novalidate (ngSubmit)="editProfile(editProfileForm)">
    <div class="form-group">
      <input #file formControlName="logo"
      id="file"
      type="file"
      class="form-control"
      (change)="uploadFile($event)" style="display: none;">
      <button class="btn btn-primary" (click)="file.click()">upload</button>
    </div>
        <div class="form-group">
            <label for="title">Name</label>
            <input type="text" class="form-control" placeholder="Name" formControlName="name">
            <small class="form-text text-muted">please Enter company name.</small>
          </div>

        <div class="form-group">
        <label for="title">About Us</label>
        <input type="text" class="form-control" placeholder="About us" formControlName="aboutUs">
        <small class="form-text text-muted">please Enter descriptive company details.</small>
      </div>

      <div class="form-group">
        <label for="title">phone</label>
        <input type="text" class="form-control" placeholder="phone" formControlName="phone">
        <small class="form-text text-muted">please Enter company phone.</small>
      </div>

      <!-- <div class="form-group">
        <label for="title">logo</label>
        <input type="text" class="form-control"  formControlName="logo">
      </div> -->

      <div class="form-group">
        <label for="title">Year founded</label> <br>
        <p-calendar view="month" [yearNavigator]="true" dateFormat="M - yy" yearRange="1900:{{maxYearRange}}" formControlName="yearFounded" showButtonBar="true" [maxDate]="dateNow"></p-calendar>
      </div>

      <div class="form-group">
        <label for="companyIndustry">company industry</label>
        <select name="companyIndustry" class="form-control" formControlName="companyIndustry">
          <option *ngFor="let i of companyIndustries" [value]="i.id">
            {{i.name}}
          </option>
        </select>
      </div>

      <div class="form-group">
        <label for="companySize">company size</label>
        <select name="companySize" class="form-control" formControlName="companySize">
          <option *ngFor="let i of companySizes" [value]="i.id">
            {{i.name}}
          </option>
        </select>
      </div>

      <div class="form-group">
        <label for="companyType">company type</label>
        <select name="companyType" class="form-control" formControlName="companyType">
          <option *ngFor="let i of companyTypes" [value]="i.id">
            {{i.name}}
          </option>
        </select>
      </div>
      
      <div class="form-group">
        <label for="title">facebook link</label>
        <input type="text" class="form-control" formControlName="facebookLink" >
      </div>
      <div class="form-group">
        <label for="title">linkedin link</label>
        <input type="text" class="form-control" formControlName="linkedinLink" >
      </div>

      <p-multiSelect [options]="cities" optionLabel="name" display="chip" formControlName="locations"></p-multiSelect>
      <button type="submit">submit</button>

  
    </form>
    
  </div>
</div>
