<div class="container">
  <div class="row my-5">
    <div class="col-8">
      <!--<div *ngFor="let job of jobs" class="col-12 mt-2">-->
      <div *ngFor="let item of [1,2,3]" class="col-12 mt-2">
        <div class="card shadow mb-3">
          <!--<div class="ms-auto me-3 mt-2">
            <i class="bi bi-three-dots"></i>
          </div>-->
          <!--<div class="card-body" [routerLink]="['/employee/apply/',job.id]">-->
          <div class="card-body position-relative">
            <div class="row ps-md-1 pe-md-2 py-3 align-items-center ">
              <div class="col-2">
                <img src="../../../../../assets/Images/gallery/MANIAC.jpg" class="img-fluid shadow me-1">
              </div>
              <div class="col-6">
                <h4 class="card-title text-primary"> Fingerprint </h4>
                <h3 class="card-text text-dark fw-bold"> Software Developer </h3>
                <p class="card-text badge bg-light-secondary mx-1">IT</p>
                <p class="card-text badge bg-warning mx-1"><i class="bi bi-clock"></i>  Full time </p>
              </div>
              <div class="col-4">
                <div ngbDropdown class="d-inline-block position-absolute" style="top:20px;right:30px">
                  <i class="bi bi-three-dots" ngbDropdownToggle style="cursor: pointer"></i>
                  <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="shadow">
                    <button ngbDropdownItem> <i size="16" class=""><svg width="16" height="16" preserveAspectRatio="none" viewBox="0 0 24 24"><path fill="#001433" d="M14.239 7.766c3.182 0 5.761 2.627 5.761 5.867S17.42 19.5 14.239 19.5H6.557c-.172 0-.341-.008-.51-.023v-1.933h8.192c2.057 0 3.736-1.646 3.836-3.716l.005-.195c0-2.094-1.617-3.805-3.65-3.906l-.191-.005H6.048V7.789c.168-.015.337-.023.51-.023h7.68zM8.345 4.5l1.449 1.444L6.897 8.83l2.897 2.887-1.449 1.443L4 8.831 8.345 4.5z"></path>
                           </svg>
                        </i>
                    Withdraw </button>
                    <button ngbDropdownItem> <i class="bi bi-archive"></i> Archive </button>
                  </div>
                </div>

                <p class="card-text w-50 w-md-25 text-end ms-auto"> Cairo, Egypt </p>
                <p class="card-text w-50 w-md-25 text-end ms-auto"> 11 Jan 2020 </p>
              </div>
            </div>
            <div class="row">
              <p>
                <span class="badge bg-secondary"> Applied </span> 3 days ago
              </p>
            </div>
            <div class="row">
              <p>
                132 <span class="text-muted fw-bold"> Applications </span> |
                1 <span class="text-primary fw-bold"> Vacancies </span> |
                39 <span class="text-warning fw-bold"> Viewed </span> |
                24 <span class="text-success fw-bold"> in Cinsidration </span> |
                7 <span class="text-danger fw-bold"> Not Selected </span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>



    <div class="col-4">
      <form id="search-form">
        <div class="row">
          <span>Search jobs</span>

          <div class="input-group mb-3">
            <!--<input type="text" [(ngModel)]="jobTitle" id="search2" name="jobTitle" class="form-control" placeholder="Search job title or company...">-->
            <input type="text" id="search2" name="jobTitle" class="form-control" placeholder="Search job title or company...">
            <!--<button type="submit" class="btn btn-outline-secondary" (click)="searchAJob()" [disabled]="!jobTitle && !loc">-->
            <button type="submit" class="btn btn-outline-secondary">
              <i class="pi pi-search"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
    <!--<ul ngbNav #nav="ngbNav" class="nav-tabs">
      <li ngbNavItem>
        <a ngbNavLink>First</a>
        <ng-template ngbNavContent>First content</ng-template>
      </li>
      <li ngbNavItem>
        <a ngbNavLink>Second</a>
        <ng-template ngbNavContent>Second content</ng-template>
      </li>
    </ul>
    <div [ngbNavOutlet]="nav"></div>-->
  </div>
</div>
